doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title SongSort
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/vis/dist/vis.min.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/react/JSXTransformer.js')
    script(src='/react/react.min.js')
    script(src='/underscore/underscore-min.js')
    script(src='/vis/dist/vis.min.js')
    script(src='/js/spotify.js')
    script(src='/js/echo-nest.js')
    script(type='text/jsx' src='/views/graph.jsx')
    script(type='text/jsx' src='/views/song-sort.jsx')

  body#body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/')
            span SongSort
        .collapse.navbar-collapse
          ul#options.nav.navbar-nav.navbar-right
            li
              a#about.option(href='/')

    #song-sort.container
    script(type='text/jsx' src='/js/app.js')

    footer#footer
      hr
      .container
        small
          p.muted.credit Created by 
            a(href='/') Steve Vitali
            span . Powered by 
            a(href='/') Spotify
            span . Source on 
            a(href='/') github.
