doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title SongSort
    link(rel='stylesheet' href='/main.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/underscore.js')

  body#body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/')
            span SongSort
        .collapse.navbar-collapse
          ul#options.nav.navbar-nav.navbar-right
            li
              a#about.option(href='/')

    #main.container

    #footer
      hr
      .container
        small
          p.muted.credit Created by 
            a(href='/') Steve Vitali
            span . Powered by 
            a(href='/') Spotify
            span . Source on 
            a(href='/') github.
