#song-sort {
  margin-top: 64px;
  text-align: center;
}

#footer {
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

table tr td {
  text-align: left;
}

h3.panel-title {
  text-align: left;
}
